html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: #9e9898;
}

header {
    background-color: #474545;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    color: white;
}

aside {
    background-color: #f1f1f1;
    padding: 20px;
    margin: 100px;
    border-radius: 10px;
}

footer {
    background-color: #474545; 
    padding: 10px;
    color: white;
    text-align: center;
}

nav{
  text-align: right;
  margin-top: -90px;
  margin-bottom: 90px;
}

a{
    background-color: #474545;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;   
}

a:hover{
    background-color: #6b6969; /* Dark red color */
}